{{ if isset site.Params.widgets "recentnews" -}}
{{ if site.Params.widgets.recentnews -}}
<div class="panel panel-default sidebar-menu">

  <div class="panel-heading">
    <h3 class="panel-title">{{ i18n "recentNews" }}</h3>
  </div>

  {{ $recentnews := first 5 (where site.RegularPages "Type" "news") }}
  {{- with $recentnews -}}
  <div class="panel-body">
    <ul class="nav flex-column">
    {{- range . }}
     <li class="nav-item"><a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
    </ul>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}
