<!--  SEO code for ld-+son -->
{
  "@context": "http://schema.org/",
  "@type": "WebPage",
  "mainEntityOfPage": {
    "@type": "WebSite",
    "@id": "{{ .Permalink }}",
    "url": "{{ .Permalink }}",
    "sameAs": [
      {{- with site.Params.social.github }}"https://github.com/{{ . }}",{{ end -}}
      {{- with site.Params.social.twitter }}"https://twitter.com/{{ . }}"{{ end -}}
    ]
  },
  "@id": "{{ .Permalink }}",
  "url": "{{ .Permalink }}",
  "name" : "{{ partial "seo/metadata-title" . }}",
  "headline" : "{{ partial "seo/metadata-title" . }}",
  "description": "{{ partial "seo/metadata-description" . }}",
  "image": "{{ site.Params.logo | absURL }}",
  "inLanguage" : "{{ .Language }}",
  "author" : "{{ site.Params.Author }}",
  "creator" : "{{ site.Params.Author }}",
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ site.Params.title }}"
  },
  "accountablePerson" : "{{ site.Params.Author }}",
  "copyrightHolder" : "{{ site.Params.Author }}",
  "copyrightYear" : "{{ .Date.Format "2006" }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  {{ if not .Lastmod.IsZero }}"dateModified" : "{{ .Lastmod.Format "2006-01-02" }}",{{ end }}

  "mainEntity": {
    "@type": "SoftwareApplication",
    "@id": "{{ .Permalink }}",
    "url": "{{ .Permalink }}",
    "name" : "{{ partial "seo/metadata-title" . }}",
    "description": "{{ partial "seo/metadata-description" . }}",
    "image": "{{ site.Params.logo | absURL }}",
    "photo": "{{ site.Params.logo | absURL }}",
    "logo": "{{ site.Params.logo | absURL }}",
    "offers": {
      "@type": "Offer",
      "price": "{{ site.Params.app.price }}",
      "priceCurrency": "{{ site.Params.app.currency }}"
    },
    "applicationCategory": "{{ site.Params.app.category }}",
    "operatingSystem": "{{ site.Params.app.os }}",
    "availableOnDevice": "{{ site.Params.app.device }}"
  },

  {{ if .WordCount -}}
  "wordCount" : "{{ .WordCount }}",
  {{- end }}
  {{ if .Keywords -}}
  "keywords" : "{{ delimit .Keywords ", " }}"
  {{- else if site.Params.DefaultKeywords -}}
  "keywords" : "{{ delimit site.Params.DefaultKeywords ", " }}"
  {{- end }}
}
