<!-- Manage @web type on all pages -->
{{- $var := "seo/metadata-js-web.html" }}
{{ "<!-- schema.org : Web -->" | safeHTML }}
<script type="application/ld+json">
  {{- partial $var . | safeJS -}}
</script>


<!-- Manage partial depending on ".typeseo" in page -->
{{- $context := . }}
{{- if .IsHome }}
  <!-- Home page -->
  {{- range site.Params.typeseo }}
    {{- $var = (printf "seo/metadata-js-%s.html" . ) }}
    {{- $infoschema := (printf "<!-- schema.org : %s -->" . ) }}
    {{- $infoschema | safeHTML }}
    <script type="application/ld+json">
      {{- partial $var $context | safeJS -}}
    </script>
  {{- end }}
{{- else -}}
  <!-- Other pages -->
  {{- range .Params.typeseo }}
    {{- $var = (printf "seo/metadata-js-%s.html" . ) -}}
    <script type="application/ld+json">
      {{- partial $var $context | safeJS -}}
    </script>
  {{- end }}
{{- end }}
