<!--  SEO code for ld-+son -->
{
  "@context": "http://schema.org/",
  "@type": "FAQPage",
  "mainEntity": [
  {{- with index site.Data.faq site.Language.Lang }}
    {{- range $i, $e := (sort . "weight") }}
      {{- range $j, $e := .items -}}
      {{- if (or $i $j) -}},{{ end }}
      {
        "@type": "Question",
        "name": "{{ .question | markdownify | safeHTML | plainify }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ (replace .answer "\n" " ") | markdownify | plainify | safeHTML }}"
        }
      }
      {{- end -}}
    {{ end -}}
  {{ end -}}
  ],
  "@id": "{{ .Permalink }}",
  "url": "{{ .Permalink }}",
  "name" : "{{ partial "seo/metadata-title" . }}",
  "headline" : "{{ partial "seo/metadata-title" . }}",
  "description": "{{ partial "seo/metadata-description" . }}",
  "image": "{{ site.Params.logo | absURL }}",
  "inLanguage" : "{{ .Language }}",
  "author" : "{{ site.Params.Author }}",
  "creator" : "{{ site.Params.Author }}",
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ site.Params.title }}"
  },
  "accountablePerson" : "{{ site.Params.Author }}",
  "copyrightHolder" : "{{ site.Params.Author }}",
  "copyrightYear" : "{{ .Date.Format "2006" }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  {{ if not .Lastmod.IsZero }}"dateModified" : "{{ .Lastmod.Format "2006-01-02" }}",{{ end }}
  {{ if .WordCount -}}
  "wordCount" : "{{ .WordCount }}",
  {{- end }}
  {{ if .Keywords -}}
  "keywords" : "{{ delimit .Keywords ", " }}"
  {{- else if site.Params.DefaultKeywords -}}
  "keywords" : "{{ delimit site.Params.DefaultKeywords ", " }}"
  {{- end }}
}
