{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ $features := index .Site.Data.features .Site.Language.Lang }}
{{ if gt (len $features) 0 }}
{{/*
{{ range (index .Site.Data.features .Site.Language.Lang) }}
  {{ printf "%+v" . }}
{{end}}
*/}}
<section class="bar background-white">
  <div class="container">
  {{ range $index, $element := sort $features "weight" }}
    {{ if eq (mod $index 4) 0 }}
    <div class="col-md-12">
      <div class="row">
    {{ end }}
        <div class="col-md-3">
          <div class="box-simple">
            <div class="icon">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x icon-background-default"></i>
              <i class="{{ .icon }} feature-icon fa-stack-1x"></i>
              </span>
            </div>
            <h3>{{ $element.name }}</h3>
            <p>{{ $element.description | markdownify }}</p>
          </div>
        </div>
    {{ if or (eq (mod $index 4) 3) (eq $index (sub (len $features) 1 )) }}
      </div>
    </div>
    {{ end }}
  {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
