<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div id="about-us" class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            <p>{{ .Site.Params.about_us | markdownify }}</p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div id="recent-posts" class="col-md-4 col-sm-6">

            {{ if isset .Site.Params "recent_posts" }} {{ if .Site.Params.recent_posts.enable }}
            <h4>{{ i18n "recentPosts" }}</h4>

            <div class="blog-entries">
                {{ range first 3 (where .Site.Pages "Type" "kb") }}
                <div class="item same-height-row clearfix">
                    {{ if false }}
                    <div class="image same-height-always">
                        <a href="{{ .Permalink }}">
                          {{ if isset .Params "banner" }}
                            <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }}">
                          {{ else }}
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="{{ .Title }}">
                          {{ end }}
                        </a>
                    </div>
                    {{ end }}
                    <div class="name same-height-always">
                        <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    </div>
                </div>
                {{ end }}
            </div>

            <hr class="hidden-md hidden-lg">
            {{ end }} {{ end }}

        </div>
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div id="address" class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | markdownify }}

            <a href="{{ .LanguagePrefix }}/contact" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12 text-center">
            {{ if isset .Site.Params "copyright" }}
              {{ .Site.Params.copyright | markdownify }}
            {{ end }}
            {{ if (and (isset .Site.Params "copyright") (isset .Site.Params "footertext")) }}
              &mdash;
            {{ end }}
            {{ if isset .Site.Params "footertext" }}
              {{ .Site.Params.footertext | markdownify }}
            {{ end }}
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
