{{ $numOfParams := len .Params }}
{{- if and (ge $numOfParams 2) (le $numOfParams 4) -}}

  {{- $.Scratch.Set "user" (.Get "user") -}}
  {{- $.Scratch.Set "repo" (.Get "repo") -}}
  {{- $.Scratch.Set "tag"  (.Get "tag") -}}
  {{- $.Scratch.Set "data" (.Get "data") -}}

  {{- if eq ($.Scratch.Get "tag") "" -}}
    {{ $.Scratch.Set "tag" "latest" }}
  {{- else -}}
    {{ $.Scratch.Set "tag" (printf "tags/%s" ($.Scratch.Get "tag")) }}
  {{- end -}}

  {{- if eq ($.Scratch.Get "data") "" -}}
      {{ $.Scratch.Set "data" "version" }}
  {{- end -}}

  {{- $user := $.Scratch.Get "user" -}}
  {{- $repo := $.Scratch.Get "repo" -}}
  {{- $tag  := $.Scratch.Get "tag" -}}
  {{- $data := $.Scratch.Get "data" -}}

  {{- $url := (printf "https://api.github.com/repos/%s/%s/releases/%s" $user $repo $tag) -}}
  {{- $release := getJSON $url -}}

  {{- range $release.assets -}}
    {{ $p := . }}
      {{- if eq $data "file_name" -}}
        {{- $p.name -}}
      {{- else if eq $data "file_size" -}}
        {{- printf "%.f" (div (div $p.size 1024) 1024) -}}
      {{- else if eq $data "file_date" -}}
        {{- (time $p.created_at).Format "2 Jan 2006" -}}
      {{- else if eq $data "download_link" -}}
        {{- $p.browser_download_url -}}
      {{- else if eq $data "download_count" -}}
        {{- $p.download_count -}}
      {{- else if eq $data "version" -}}
        {{/* $release.name | replaceRE "^v([0-9])" "$1" | replaceRE "(.*).0$" "$1" */}}
        {{- $release.name | replaceRE "^v([0-9])" "$1" -}}
      {{- else if eq $data "release_notes" -}}
        {{- $release.body | markdownify -}}
      {{- end -}}
  {{- end -}}

{{- end -}}
