{{ define "main" }}
  <header>
    {{ partial "nav.html" . }}
  </header>
  {{ partial "breadcrumbs.html" . }}
  <div id="content">
    <div class="container">
      <div class="row">
        <div id="faq-container" class="col-md-9">
          {{ with .Content }}
            <div class="faq-intro">{{ . }}</div>
          {{ end }}
          <section class="faq">
          {{ with index site.Data.faq site.Language.Lang }}
            {{ range sort . "weight" }}
            <div class="faq-group" id="faq-group-{{ .id }}">
              <h2 id="{{ .id }}">{{ .name }}</h2>
                {{ range .items }}
                <details>
                  <summary id="{{ .question | anchorize }}">{{ .question }}<a href="#{{ .question | anchorize }}" class="anchor-faq" aria-label="link"><i class="fa fa-link fa-flip-horizontal"></i></a></summary>
                  <div class="faq-content">
                    <div>{{ .answer | markdownify }}</div>
                  </div>
                </details>
                {{ end }}
            </div>
            {{ end }}
          {{ end }}
          </section>
        </div>
        <div class="col-md-3">
          {{ partial "widgets/search.html" . }}
          {{ partial "widgets/recentnews.html" . }}
        </div> <!-- col-md-3 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /#content -->
{{ end }}
{{ define "footerfiles" }}
{{ end }}
