{{ define "main" }}
  <header>
    {{ partial "nav.html" . }}
  </header>
    {{ partial "breadcrumbs.html" . }}
  <div id="content">
    <div class="container">
      <div class="row">

        <!-- *** LEFT COLUMN *** -->
        <div class="col-md-9" id="blog-post">
          <h1 class="lead mb-small">
            {{ partial "seo/metadata-description" . }}
          </h1>
          <p class="text-uppercase mb-small">
            <span class="date">{{ .Date | time.Format ":date_long" }}</span>
          </p>
          <div id="post-content">
            {{ .Content }}
          </div> <!-- /#post-content -->
          {{ if or .PrevInSection .NextInSection }}
          <ul class="pagination justify-content-center">
            {{if .PrevInSection}}
              <li class="page-item"><a class="page-link" href="{{ .PrevInSection.Permalink }}">&larr; {{ i18n "older" }}</a></li>
            {{ else }}
              <li class="page-item disabled"><span class="page-link">&larr; {{ i18n "older" }}</span></li>
            {{ end }}
            {{if .NextInSection}}
              <li class="page-item"><a class="page-link" href="{{.NextInSection.Permalink }}">{{ i18n "newer" }} &rarr;</a></li>
            {{ else }}
              <li class="page-item disabled"><span class="page-link">{{ i18n "newer" }} &rarr;</span></li>
            {{ end }}
          </ul> <!-- /.pagination -->
          {{ end }}
        </div> <!-- /.col-md-9 -->
        <!-- *** LEFT COLUMN END *** -->

        <!-- *** RIGHT COLUMN *** -->
        <div class="col-md-3">
          <!-- *** MENUS AND WIDGETS *** -->
          {{ partial "sidebar.html" . }}
          <!-- *** MENUS AND FILTERS END *** -->
        </div> <!-- /.col-md-3 -->
        <!-- *** RIGHT COLUMN END *** -->

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /#content -->
{{ end }}
