/* Download page */
.downloads {
  margin: 8px 0;
}
.downloads .image-description {
  margin-bottom: 5px;
  font-weight: bold;
}
.downloads .image-download-links {
  margin-bottom: 10px;
}
.downloads .image-download-links a.btn {
  background: #da4d4d;
  border: 1px solid #da4d4d;
  line-height: 20px;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}
.downloads .image-download-links a.btn:hover {
  color: #da4d4d;
  background: white;
}
.downloads .image-download-links a.btn i[class^="fa"] {
    margin-left: 0;
}

/* Donation form */
#give-recurring-form,form.give-form,form[id*=give-form] {
  margin: 0 0 25px;
  padding: 0;
}
.give-clearfix:after, .give-clearfix:before {
  content: " ";
  display: table;
}
.give-clearfix:after {
  clear: both;
}
.give-hidden {
  display: none;
}
.give-donation-amount {
  margin: 0 0 15px;
}
.give-donation-amount .give-currency-symbol {
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
  margin: 0;
  padding: 0 12px;
  height: 35px;
  line-height: 35px;
  font-size: 1.125rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.form-row-wide {
  clear: both;
}
.form-row-wide:after, .form-row-wide:before {
  content: " ";
  display: table;
}
.form-row-wide:after {
  clear: both;
}
.give-donation-amount .give-currency-symbol.give-currency-position-before {
  border-left: 1px solid #ccc;
  border-right: none;
}
.give-donation-amount .give-currency-symbol.give-currency-position-after {
  border-left: none;
  border-right: 1px solid #ccc;
}
.give-donation-amount #give-amount,form[id*=give-form] .give-donation-amount #give-amount-text {
  border: 1px solid #ccc;
  background: #FFF;
  border-radius: 0;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  margin: 0;
  font-size: 1.125rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 125px;
  float: left;
}
.give-donation-amount input.give-amount-top {
  width: 125px;
}
ul#give-donation-level-radio-list {
  margin: 0 .5em 15px;
  padding: 0;
  list-style: none;
  text-indent: inherit;
  clear: both;
}
ul#give-donation-level-radio-list > li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul#give-donation-level-radio-list > li:before {
  all: initial;
}
ul#give-donation-level-radio-list > li label {
  cursor: pointer;
  display: inline-block;
  margin: 0;
}
ul#give-donation-level-radio-list > li input[type=radio] {
  margin: 0 .5em 0 0;
  outline: 0;
  width: auto;
}
.give-submit-button-wrap .give-submit {
  float: left;
}

/* footnote link and back to footnote link */
a[href^="#fn:"], a[href^="#fnref"] {
  text-decoration: none;
}
a[href^="#fnref"] {
  font-family: initial;
}
a[href^="#fn:"]:before{
  content: '[';
}
a[href^="#fn:"]:after{
  content: ']';
}

/* faq */
details {
  margin: .5rem auto;
  border-bottom: 1px solid #da4d4d;
  color: #2a2a2a;
}
details > :last-child {
  margin-bottom: 0;
  padding: 0.7rem 1.2rem;
}
summary {
  margin: .5rem 0 .5rem 0;
  padding: 0 2em 0 0;
  display: block;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
summary::before, summary::after {
  width: .75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  background-color: #da4d4d;
  text-align: right;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
summary::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
[open] summary::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
summary::marker,
summary::-webkit-details-marker {
  display: none;
}
.faq h4 {
  color: #da4d4d;
  margin-bottom: .7rem;
}
.faq-group {
  margin-top: 2rem;
}
.faq-group:first-child {
  margin-top: 1rem;
}
.faq-content {
  background: #eee;
}
.faq-content p {
  margin: 0 0 6px;
}

/* footer third column */
#footer .important-links {
  margin-bottom: 1.2em;
}

#footer .important-links .item {
  clear: both;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #2a2a2a;
}
#footer .important-links .item .image {
  float: left;
  width: 15%;
  margin-right: 10px;
}
#footer .important-links .item .name {
  width: 75%;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
}
#footer .important-links .item .name h5 {
  margin: 0;
  letter-spacing: 0.04em;
}
#footer .important-links .item .name h5 a {
  color: #eeeeee;
}
#footer .important-links .item .text {
  width: 100%;
  clear: both;
}
#footer .important-links .item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

/* Anchor links. */
.anchor-faq,
.anchor-heading {
  color: transparent;
  display: none;
  font-size: smaller;
  margin-left: 1ex;
  display:inline;
}

:hover > .anchor-faq,
:hover > .anchor-heading,
.anchor-faq:focus,
.anchor-heading:focus {
  display: inline;
  color: #da4d4d;
}

a.anchor-faq,
a.anchor-heading {
  -webkit-box-shadow: initial;
  box-shadow: initial;
  -webkit-transition: color 80ms ease-in;
  transition: color 240ms ease-in;
}

a.anchor-faq:hover,
a.anchor-faq:focus,
a.anchor-heading:hover,
a.anchor-heading:focus {
  color: #da4d4d;
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

/* Carousel on home page */
#home-carousel h1,
#home-carousel h2,
#home-carousel h3,
#home-carousel p,
#home-carousel ul {
  color: #fff;
}

#home-carousel h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: .08em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  #home-carousel h1 {
    font-size: 1.6875rem;
  }
}

#home-carousel .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#home-carousel .item ul,
#home-carousel .item p {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}

@media (max-width: 991px) {
  #home-carousel .item ul,
  #home-carousel .item p {
    font-size: .875rem;
  }
}

#home-carousel ul li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  #home-carousel ul li {
    margin-bottom: 0;
  }
}

#home-carousel ul li > div {
  color: #fff;
}

@media (max-width: 767px) {
  #home-carousel {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  #home-carousel .right {
    text-align: right;
  }
}

/* Testimonials on home page */
#testimonials-carousel {
  margin-bottom: 40px;
}

#testimonials-carousel ul li > div {
  align-items: initial;
}

#testimonials-carousel .item {
  min-width: calc(100%/4);
  padding-bottom: 430px;
}

@media (max-width: 575px) {
  #testimonials-carousel .item {
    min-width: calc(100%/1);
    padding-bottom: 350px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  #testimonials-carousel .item {
    min-width: calc(100%/2);
    padding-bottom: 430px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #testimonials-carousel .item {
    min-width: calc(100%/2);
    padding-bottom: 350px;
  }
}

#testimonials-carousel .container {
  padding: 0px;
}

#testimonials-carousel .item:before,
#testimonials-carousel .item:after {
  content: " ";
  display: table;
}

#testimonials-carousel .item:after {
  clear: both;
}

#testimonials-carousel .box {
  margin: 20px 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#testimonials-carousel .box .text {
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.7;
  overflow: hidden;
  margin-bottom: 40px;
}

#testimonials-carousel .box .bottom {
  display: flex;
  justify-content: space-between;
}

#testimonials-carousel .box .bottom .icon {
  color: #da4d4d;
  font-size: 1.875rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#testimonials-carousel .box .name-picture {
  width: 85%;
  text-align: right;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#testimonials-carousel .box .name-picture h5 {
  font-size: .875rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
#testimonials-carousel .box .name-picture p {
  color: #999999;
  margin: 0;
  font-size: .75rem;
  font-weight: normal;
}
#testimonials-carousel .box .name-picture img {
  float: right;
  width: 60px;
  border-radius: 30px;
  margin-left: 10px;
}

#testimonials-carousel ol {
  bottom: -20px;
}

#testimonials-carousel ol li a {
  background: #999;
}

#testimonials-carousel ol li.selected a {
  background: #da4d4d;
}

/* Contact form */
.contact-form {
  text-transform: uppercase;
  font-size: .6875rem;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
}

.contact-form label {
  width: 100%;
  margin-top: 10px;
}

textarea.form-control {
  max-height: 190px;
  color: #2a2a2a;
  font-size: .9375rem;
}

.contact-form input[type="submit"] {
  margin-top: 20px;
}

/* Contact form honeypot field */
.contact-form #_email {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: default;
  pointer-events: none;
  color: transparent;
}
.contact-form #_email:hover{
  height: 0px;
  cursor: default;
}
.contact-form #_email:blur{
  height: 0px;
  cursor: default;
}
.contact-form #_email:focus{
  height: 0px;
  outline: none;
  cursor: default;
}

input[type="reset"], input[type="submit"], input[type="submit"], button.submit {
  cursor: pointer;
  background: #da4d4d;
  border: 1px solid #da4d4d;
  line-height: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 23px 15px 23px;
/*
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
 */
  margin: 3px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: .8125rem;
  height: 43px;
}

input[type="reset"]:hover, input[type="submit"]:hover, input[type="submit"]:hover {
  color: #da4d4d;
  background: white;
  /* opacity: 0.8; */
}
