{{ if isset site.Params "carousel" }}
{{ if site.Params.carousel.enable }}
{{ with index site.Data.carousel site.Language.Lang }}
<section>
  <div class="home-carousel">
    <div class="dark-mask"></div>
    <div class="container">
      <div class="homepage owl-carousel">
        {{ range sort . "weight" }}
        <div class="item">
          <div class="row">
            <div class="col-sm-5 right">
              <h1>{{ .title }}</h1>
              {{ .description | safeHTML }}
            </div>
            <div class="col-sm-7">
              <img class="img-responsive" src="{{ .image }}" alt="{{ .title }}">
            </div>
          </div>
        </div>
        {{ end }}
      </div>  <!-- /.owl-carousel -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
