{{ if isset site.Params "carousel" }}
{{ if site.Params.carousel.enable }}
{{ with index site.Data.carousel site.Language.Lang }}
{{ $items := len . }}
{{ $height := "450px" }}
<section>
  <div id="home-carousel" class="carousel" duration="5000 " items="{{ $items }}">
    <ul>
      {{ range $index, $slide := (sort . "weight") }}
      <li id="home-slide{{ add $index 1 }}" class="item" style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }};">
        <img src="{{ .image }}" alt="{{ .title }}" />
        <div class="">
          <div class="">
            <h1>{{ .title }}</h1>
            {{ .description | safeHTML }}
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
    <ol>
      {{ range $index, $slide := (sort . "weight") }}
      <li>
        <a href="#home-slide{{ add $index 1 }}"></a>
      </li>
      {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
  </div>  <!-- /.carousel -->
</section>
{{ end }}
{{ end }}
{{ end }}
