<div class="container">
  <div class="row">
    <div class="col-md-9">
      <section>
        {{ .Content }}
        {{ if isset site.Params "email" }}
        <div role="form" class="contact-form">
          <form name="contact" id="contact" action="#" class="moodlebox-form" method="post">
            <input type="hidden" name="_subject" id="_subject" value="Form sent from page: {{ .Permalink }}">
            <label for="name">{{ i18n "contactName" }}</label>
            <input type="text" name="name" id="name" placeholder="{{ i18n "whatsYourName" }}" required class="form-control text">
            <label for="email">{{ i18n "contactMail" }}</label>
            <input type="email" name="_email" id="_email" tabindex="-1">
            <input type="email" name="email" id="email" placeholder="{{ i18n "whatsYourEmail" }}" required class="form-control text">
            <label for="subject">{{ i18n "contactSubject" }}</label>
            <input type="text" name="subject" id="subject" required class="form-control text">
            <label for="message">{{ i18n "contactMessage" }}</label>
            <textarea name="message" id="message" class="form-control text" rows="5"></textarea>
            <input type="submit" value="{{ i18n "contactSend" }}" class="form-control submit"></input>
          </form>
        </div>
        {{ end }}
      </section>
    </div> <!-- col-md-9 -->
    <div class="col-md-3">
      {{ partial "widgets/recentnews.html" . }}
      {{/* if isset site.Params "address" }}
      <section>
        <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>
        {{ site.Params.address | safeHTML }}
      </section>
      {{ end */}}
    </div> <!-- col-md-3 -->
  </div> <!-- /.row -->
</div>
