{{ if isset site.Params "features" }}
{{ if site.Params.features.enable }}
{{ with index site.Data.features site.Language.Lang }}
<section id="features" class="bar background-white">
  <div class="container">
  {{ range $index, $element := sort . "weight" }}
    {{ if eq (mod $index 4) 0 }}
    <div class="col-md-12">
      <div class="row">
    {{ end }}
        <div class="col-md-3">
          {{ with site.GetPage (printf "%s" $element.link) }}<a href="{{ .RelPermalink }}">{{ end }}
          <div class="box-simple">
            <div class="icon">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x icon-background-default"></i>
              <i class="{{ .icon }} feature-icon fa-stack-1x"></i>
              </span>
            </div>
            <h2>{{ $element.name }}</h2>
            <p>{{ $element.description | markdownify }}</p>
          </div>
          {{ if $element.link }}</a>{{ end }}
        </div>
    {{ if or (eq (mod $index 4) 3) (eq $index (sub (len .) 1 )) }}
      </div>
    </div>
    {{ end }}
  {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
