<footer id="footer">
  <div class="container">
    <div class="row">

      {{ if isset site.Params "about" }}
      <div id="about-us" class="col-md-4 col-sm-6">
        <h4>{{ i18n "aboutUs" }}</h4>
        <p>{{ site.Params.about | markdownify }}</p>
        <hr class="hidden-md hidden-lg hidden-sm">
      </div> <!-- /.col-md-4 -->
      {{ end }}

      {{ if isset site.Params "recent_posts" }} {{ if site.Params.recent_posts.enable }}
      <div id="recent-posts" class="col-md-4 col-sm-6">
        <h4>{{ i18n "recentPosts" }}</h4>
        <div class="blog-entries">
          {{ range first 3 (where site.Pages.ByLastmod.Reverse "Type" "kb") }}
          <div class="item same-height-row clearfix">
            {{ if false }}
            <div class="image same-height-always">
              <a href="{{ .Permalink }}">
              {{ if isset .Params "banner" }}
                <img src="{{ .Params.banner | absURL }}" class="img-responsive" alt="{{ .Title }}">
              {{ else }}
                <img src="{{ "img/placeholder.png" | absURL }}" class="img-responsive" alt="This is a placeholder">
              {{ end }}
              </a>
            </div>
            {{ end }}
            <div class="name same-height-always">
              <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
            </div>
          </div>
          {{ end }}
        </div>
        <hr class="hidden-md hidden-lg">
      </div>  <!-- /.col-md-4 -->
      {{ end }} {{ end }}

      {{ if site.Params.donate.enable }}
      <div id="links" class="col-md-4 col-sm-6">
        <h4>FAQ</h4>
        <div class="important-links">
          <div class="item same-height-row clearfix">
            <div class="name same-height-always">
              <h5><a href="{{ site.LanguagePrefix }}/faq">{{ i18n "faqTitle" }}</a></h5>
            </div>
          </div>
        </div>
        <h4>{{ i18n "donateTitle" }}</h4>
          <a href="{{ site.LanguagePrefix }}/give" class="btn btn-small btn-template-main">{{ i18n "donateNow" }}</a>
          <hr class="hidden-md hidden-lg hidden-sm">
      </div> <!-- /.col-md-4 -->
      {{ end }}

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer> <!-- /#footer -->

<div id="post-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      {{ if site.Params.privacy.enable }}
        <span id="privacy" class="post-footer-item">
          <a href="{{ site.LanguagePrefix }}/privacy" class="">{{ i18n "privacyTitle" }}</a>
        </span>
      {{ end }}
      {{ if site.Params.cookies.enable }}
        <span id="cookies" class="post-footer-item">
          <a href="{{ site.LanguagePrefix }}/cookies" class="">{{ i18n "cookiesTitle" }}</a>
        </span>
      {{ end }}
      {{ if site.Params.license.enable }}
        <span id="license" class="post-footer-item">
          <a href="{{ site.LanguagePrefix }}/license" class="">{{ i18n "licenseTitle" }}</a>
        </span>
      {{ end }}
      {{ if site.Params.donate.enable }}
        <span id="donate" class="post-footer-item">
          <a href="{{ site.LanguagePrefix }}/give" class="">{{ i18n "donateTitle" }}</a>
        </span>
      {{ end }}
      {{ if isset site.Params "address" }}
        <span id="address" class="post-footer-item">
          <a href="{{ site.LanguagePrefix }}/contact" class="">{{ i18n "contactTitle" }}</a>
        </span>
      {{ end }}
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /#post-footer -->
