{{ with .Rotate "language" }}
<li id="language-switch" class="dropdown">
<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe fa-lg" aria-hidden="true"></i> {{- $.Site.Language -}}</a>
<ul class="dropdown-menu">
  {{ range . }}
    {{ if eq .Site.Language $.Site.Language }}
      <li><a href="{{ .RelPermalink }}" class="active">{{ .Site.Language.Label }}</a></li>
    {{ else }}
      <li><a href="{{ .RelPermalink }}">{{ .Site.Language.Label }}</a></li>
    {{ end }}
  {{ end }}
</ul>
</li>
{{ end }}
