{{ if .Site.IsMultiLingual }}
<li id="language-switch" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
  {{ $siteLanguages := .Site.Languages}}
  {{ $pageLang := .Page.Lang}}
  {{ range .Page.AllTranslations }}
      {{ $translation := .}}
      {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
                <li><a href="{{ $translation.RelPermalink }}" class="active">{{ .LanguageName }}</a></li>
            {{ else }}
                <li><a href="{{ $translation.RelPermalink }}">{{ .LanguageName }}</a></li>
            {{ end }}
          {{ end }}
      {{ end }}
  {{ end }}
</ul>
</li>
{{ end }}
