{{ if isset .Site.Params "news" }}
{{ if .Site.Params.news.enable }}
{{ if gt (len (where .Site.RegularPages "Section" "news")) 0 }}
<section id="news">
  <div class="container">
    <div class="col-md-12">
      <div class="row equal">
      {{ range first 3 ( sort (where .Site.RegularPages "Section" "news") "Date" "desc" ) }}
      {{- $.Scratch.Add "i" 1 -}}{{- $i := $.Scratch.Get "i" -}}
        <div class="col-md-4{{- if ge $i 3 }} hidden-xs{{- end -}}">
          <a class="news-item" href="{{ .RelPermalink }}">
            {{/* <!-- <span class="news-title">{{ .Params.title }}</span> --> */}}
            <span class="news-date">
              <span class="date-day">{{ .Date.Format "2" }}</span>
              <span class="date-month">{{default .Date.Month (i18n .Date.Month)}}</span>
              <span class="date-year">{{ .Date.Format "2006" }}</span>
            </span>
            {{ partial "seo/metadata-description" . | truncate 140 "…"}}
          </a>
        </div> <!-- col-md-4 -->
      {{ end }}
      </div> <!-- row -->
    </div> <!-- col-md-12 -->
  </div> <!-- col-md-4 -->
</section>
{{ end }}
{{ end }}
{{ end }}
