<!-- Javascript to load in footer -->
{{ if site.IsServer }}
  {{ $frontJS := resources.Get "js/front.js" }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" }}
  {{ $carouselJS := resources.Get "js/carousel.js" }}
  <script src="{{ $frontJS.Permalink }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}"></script>
  <script src="{{ $carouselJS.Permalink }}"></script>
  {{ if .HasShortcode "gallery" }}
  {{ $lightboxJS := resources.Get "js/lightbox.js" }}
  <script src="{{ $lightboxJS.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $frontJS := resources.Get "js/front.js" | minify | fingerprint }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" | minify | fingerprint }}
  {{ $carouselJS := resources.Get "js/carousel.js" | minify | fingerprint }}
  <script src="{{ $frontJS.Permalink }}" integrity="{{ $frontJS.Data.Integrity }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}" integrity="{{ $moodleboxJS.Data.Integrity }}"></script>
  <script src="{{ $carouselJS.Permalink }}" integrity="{{ $carouselJS.Data.Integrity }}"></script>
  {{ if .HasShortcode "gallery" }}
  {{ $lightboxJS := resources.Get "js/lightbox.js" | minify | fingerprint }}
  <script src="{{ $lightboxJS.Permalink }}" integrity="{{ $lightboxJS.Data.Integrity }}"></script>
  {{ end }}
{{ end }}
