<!-- Javascript to load in footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" integrity="sha512-ES/eSqVi/9sgeZfvunOto+gwgFGrD/hzi5UOJFDR1Me8acKSBJIb2Gk0IyKje2ZaX+OovAG2/bRzj/uBcNeesg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ if .HasShortcode "gallery" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}
{{ if site.IsServer }}
  {{ $frontJS := resources.Get "js/front.js" }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" }}
  <script src="{{ $frontJS.Permalink }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}"></script>
  <script src="{{ $owlJS.Permalink }}"></script>
{{ else }}
  {{ $frontJS := resources.Get "js/front.js" | minify | fingerprint }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" | minify | fingerprint }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" | minify | fingerprint }}
  <script src="{{ $frontJS.Permalink }}" integrity="{{ $frontJS.Data.Integrity }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}" integrity="{{ $moodleboxJS.Data.Integrity }}"></script>
  <script src="{{ $owlJS.Permalink }}" integrity="{{ $owlJS.Data.Integrity }}"></script>
{{ end }}
