<!-- Javascript to load in footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha384-hKAOvu4SRkR5UhOl+rvozhqPNh0VgjTz0sydNTzye3vkV6VzpbLACSgthC2bhXeV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" integrity="sha384-HMq0LUtLrpRM2p+YAa9diNQOAIkf3galOKNWNMKYqnH6FngMe5xt9a/g1fYiJghC" crossorigin="anonymous"></script>
{{ if .HasShortcode "gallery" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
{{ end }}
{{ if site.IsServer }}
  {{ $frontJS := resources.Get "js/front.js" }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" }}
  <script src="{{ $frontJS.Permalink }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}"></script>
  <script src="{{ $owlJS.Permalink }}"></script>
{{ else }}
  {{ $frontJS := resources.Get "js/front.js" | minify | fingerprint }}
  {{ $moodleboxJS := resources.Get "js/moodlebox.js" | minify | fingerprint }}
  {{ $owlJS := resources.Get "js/owl.carousel.js" | minify | fingerprint }}
  <script src="{{ $frontJS.Permalink }}" integrity="{{ $frontJS.Data.Integrity }}"></script>
  <script src="{{ $moodleboxJS.Permalink }}" integrity="{{ $moodleboxJS.Data.Integrity }}"></script>
  <script src="{{ $owlJS.Permalink }}" integrity="{{ $owlJS.Data.Integrity }}"></script>
{{ end }}
