<!-- CSS to load in header -->
<!-- Bootstrap and Fork Awesome css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ if .HasShortcode "gallery" }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" rel="stylesheet" crossorigin="anonymous" />
{{ end }}
<!-- Custom fonts and styles for this template -->
{{ if site.IsServer }}
  {{ $cssOpts := (dict "enableSourceMap" true) }}
  {{ $forkAwesomeCSS := resources.Get "css/fork-awesome.css" | toCSS $cssOpts }}
  {{ $fontsCSS := resources.Get "css/fonts.css" | toCSS $cssOpts }}
  {{ $moodleboxCSS := resources.Get "css/moodlebox.css" | toCSS $cssOpts }}
  {{ $syntaxCSS := resources.Get "css/syntax.css" | toCSS $cssOpts }}
  {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts }}
  {{ $carouselCSS := resources.Get "css/carousel.css" | toCSS $cssOpts }}
  <link href="{{ $forkAwesomeCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $fontsCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $moodleboxCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $syntaxCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $customCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $carouselCSS.Permalink }}" rel="stylesheet">
{{ else }}
  {{ $cssOpts := (dict "enableSourceMap" false ) }}
  {{ $forkAwesomeCSS := resources.Get "css/fork-awesome.css" | toCSS $cssOpts | minify | fingerprint }}
  {{ $fontsCSS := resources.Get "css/fonts.css" | toCSS $cssOpts | minify | fingerprint }}
  {{ $moodleboxCSS := resources.Get "css/moodlebox.css" | toCSS $cssOpts | minify | fingerprint }}
  {{ $syntaxCSS := resources.Get "css/syntax.css" | toCSS $cssOpts | minify | fingerprint }}
  {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts | minify | fingerprint }}
  {{ $carouselCSS := resources.Get "css/carousel.css" | toCSS $cssOpts | minify | fingerprint }}
  <link href="{{ $forkAwesomeCSS.Permalink }}" integrity="{{ $forkAwesomeCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $fontsCSS.Permalink }}" integrity="{{ $fontsCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $moodleboxCSS.Permalink }}" integrity="{{ $moodleboxCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $syntaxCSS.Permalink }}" integrity="{{ $syntaxCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $customCSS.Permalink }}" integrity="{{ $customCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $carouselCSS.Permalink }}" integrity="{{ $carouselCSS.Data.Integrity }}" rel="stylesheet">
{{ end }}
