{{ define "main" }}
  <header>
    {{ partial "nav.html" . }}
  </header>
  <div id="content">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3" id="error-page">
        <div class="box">
          {{/*
          <p class="text-center">
            <a href="{{ site.BaseURL }}"><img src="{{ site.Params.logo }}" alt="{{ .Title }} logo"></a>
          </p>
          */}}
          <h3>{{ i18n "error404Message" }}</h3>
          {{/* <h4 class="text-muted">{{ i18n "error404" }}</h4> */}}
          <h4 class="text-muted">{{ i18n "error404Explanation" }}</h4>
          <h4 class="">{{ i18n "error404Search" }}</h4>
          {{ partial "search-form.html" . }}
          {{/*
          <p>Faites un don pour aider à corriger ce problème !</p>
          <p class="buttons"><a href="{{ site.BaseURL }}" class="btn btn-template-main">
            <i class="fa fa-home"></i>{{ i18n "navHome" }}</a>
          </p>
          */}}
        </div>
      </div> <!-- /.col-sm-6 -->
    </div> <!-- /.container -->
  </div> <!-- /#content -->
{{ end }}
