{{ define "main" }}
  <header>
    {{ partial "nav.html" . }}
  </header>
  <div id="heading-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ i18n "error404" }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row">

        <!-- *** LEFT COLUMN *** -->
        <div class="col-md-9" id="blog-post">
          <h3>{{ i18n "error404Message" }}</h3>
          <div id="post-content">
            <p>{{ i18n "error404Explanation" }}</p>
            <p>{{ i18n "error404Search" | markdownify }}</p>
            {{ partial "kbsearch.html" . }}
          </div> <!-- /#post-content -->
        </div> <!-- /.col-md-9 -->
        <!-- *** LEFT COLUMN END *** -->

        <!-- *** RIGHT COLUMN *** -->
        <div class="col-md-3">
          <!-- *** MENUS AND WIDGETS *** -->
          {{ partial "sidebar.html" . }}
          <!-- *** MENUS AND FILTERS END *** -->
        </div> <!-- /.col-md-3 -->
        <!-- *** RIGHT COLUMN END *** -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->
  </div> <!-- /#content -->
{{ end }}
