{{ with index .Site.Data.donation .Site.Language.Lang }}
{{ $products := .amounts }}
{{ range $products }}
  {{ if .default }}
    {{ $.Scratch.Set "amount" .price }}
  {{ end }}
{{ end }}
<div>
  <form id="give-form" action="https://www.paypal.com/cgi-bin/webscr" data-currency_symbol="&euro;" data-currency_code="EUR" data-currency_position="before" data-thousands_separator="," data-decimal_separator="." data-number_decimals="0" method="post">
<!-- The following field is for robots only, invisible to humans: -->
    <span class="give-hidden" style="display:none!important;">
    <div>
      <label for="give-form-honeypot"></label>
      <input id="give-form-honeypot" type="text" name="give-honeypot" placeholder="null">
    </div>
    </span>
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="C3LYAXFWMQ5K6">
    <input type="hidden" name="lc" value="CH">
    <input type="hidden" name="item_name" value="MoodleBox">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHosted">
    <div class="give-total-wrap">
      <div class="give-donation-amount form-row-wide">
        <span class="give-currency-symbol give-currency-position-before">€</span> <label class="give-hidden" for="amount">{{ i18n "donationAmount" }}</label>
        <input class="give-text-input give-amount-top" id="give-amount" name="amount" type="tel" value="{{ $.Scratch.Get "amount" }}" autocomplete="off">
      </div>
    </div>
    <ul id="give-donation-level-radio-list" class="give-donation-levels-wrap">
      {{ range $products }}
      <li><input type="radio" data-price-id="{{ .id }}" class="give-radio-input give-radio-input-level give-radio-level-{{ .id }}{{ if .default }} give-default-level{{ end }}" name="radio-donation-level" id="amount-{{ .id }}" value="{{ .price }}"{{ if .default }} checked="checked"{{ end }}>
      <label for="amount-{{ .id }}">€{{ .price }} – {{ .name }}</label></li>
      {{ end }}
      <li><input type="radio" data-price-id="custom" class="give-radio-input give-radio-input-level give-radio-level-custom" name="radio-donation-level" id="give-radio-level-custom" value="custom">
      <label for="give-radio-level-custom">{{ i18n "customAmount" }}</label></li>
    </ul>
    <div id="give_purchase_form_wrap">
      <fieldset id="give_purchase_submit">
        <input type="hidden" name="give_action" value="purchase">
        <input type="hidden" name="give-gateway" value="paypal">
        <div class="give-submit-button-wrap give-clearfix">
          <input type="submit" class="give-submit give-btn" id="give-purchase-button" name="give-purchase" value="{{ i18n "donateNow" }}">
          <!-- PayPal Logo -->
          <!-- <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo" /> -->
        </div>
      </fieldset>
    </div>
  </form>
</div>
{{ end }}
