name: Hugo CI & deploy

on:
  push:
    branches:
      - main
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build and deploy website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Download and setup Hugo
        uses: peaceiris/actions-hugo@v3
        env:
          HUGO_RELEASE: '0.155.3'
        with:
          hugo-version: ${{ env.HUGO_RELEASE }}
          extended: true
      - name: Check Hugo installation
        run: hugo env
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
      - name: Run Node
        run: npm ci
      - name: Build website with Hugo
        run: |
          hugo \
            --gc \
            --minify \
            --printI18nWarnings \
            --cacheDir "${{ runner.temp }}/hugo_cache"
      - name: Deploy website with rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --quiet --delete
          path: public/
          remote_path: ${{ secrets.DEPLOY_DIRECTORY }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
